.container-fluid {
    padding: 0;
}
.container {
    max-width: 950px;
}

.header {
    min-height: 120px;
    padding-top: 10px;
}

.header-logo {
    text-align: center;
}

.header-contact {
    text-align: right;
    font-size: 0.85em;
    text-transform: uppercase;
    height: 7em; 
    line-height: 2em;
    padding-top: 5px;
}

.logo {
    max-width: 90%;
    margin: 0 auto;
}
.banner {
    max-width: 67%;
}

.cart-img {
    max-width: 30%;
}

.cart-info{
    font-size: 80%;
    color: rgb(26, 25, 25);
 }

.link-header {
    color: rgb(26, 25, 25);
}

 .cart-info:hover, .link-header:hover {
    color:#ff0099;
}


.bg-light,.navbar-light {
    border-top: 1px solid rgb(158, 156, 156);
    border-bottom: 1px solid rgb(158, 156, 156);
    background-color: white !important;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1px;
    -webkit-box-shadow: 0px 11px 26px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 26px -14px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 26px -14px rgba(0,0,0,0.75);
}

.navbar-light .navbar-nav .nav-link {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: lighter;
    color: rgb(65, 65, 65);
    text-transform: uppercase;
    padding-right: 25px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:#ff0099;
}

.navbar-light .navbar-toggler, .navbar-light .navbar-toggler:focus{
    border: 0;
    margin: 1px;
}

button:focus {
    outline: none;
}

.slider {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar {
    text-align: center;
    padding-top: 15px;
}

.content {
    padding-top: 10px;
}

.main {
    padding-right: 45px;
    padding-top: 15px;
}

.product-slide {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

.product-slide a {
    color: rgb(41, 40, 40);
    font-size: 0.9rem;
}

.product-slide a:hover {
    color:#ff0099;
}

.price {
    font-size: 0.9rem;
    padding-top: 5px;
}

.price-old {
    margin-right: 10px;
    text-decoration: line-through;
    text-decoration-color: #ff0099;  
}

.price-new, .price-new:hover {
    color:#ff0099;
}

.product-img {
   width: 80%;
}

.product-slide h5 {
    margin-left: 15%;
    margin-right: 15%;
    padding: 7px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(172, 172, 172);
}

.bag {
    height: 240px;;
}
.footer {
    font-family: Arial,Helvetica,sans-serif;
    position: absolute;
    clear: both;
    bottom: 0;
    height:220px;;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 35px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    -webkit-box-shadow: 3px -4px 44px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -4px 44px -13px rgba(0,0,0,0.75);
    box-shadow: 3px -4px 44px -13px rgba(0,0,0,0.75);
}

.footer h2 {
    font-family: Courier;
    font-weight: 100;
}

.footer nav {
    margin-bottom: 20px;
}

.footer nav a {
    display: inline;
    text-transform: uppercase;
    color: rgb(153, 153, 153);
    font-weight: 100;
}

.footer nav a:hover {
    color: #ff0099;
    border-bottom: 1px solid #ff0099;
}

.social {
    margin: 20px;
}

.social a {
    display: inline-block;
    height: auto;
    margin-left: 5px;
}

.social a:hover {
    background-color: rgb(66, 64, 64);
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 37px -8px rgba(237,237,237,1);
    -moz-box-shadow: 0px 0px 37px -8px rgba(237,237,237,1);
    box-shadow: 0px 0px 37px -8px rgba(237,237,237,1);
}

.footer p {
    color: rgb(153, 153, 153); 
}

.btn-radius {
    border-radius: 0;
}

.btn-pink {
    background-color: #ff0099;
    color: white;
    border-radius: 2px;
    margin-top: 20px;
}

.btn-pink:hover {
    background-color: rgba(255, 0, 153, 0.658);
    
}

.form-predstavnuk {
    width: 80%;
}

.img-width {
    width: 100%;
}

.modal-content {
    border-radius: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: lighter;
}
.message-ok {
    color: rgb(106, 190, 106);
}

.message-error {
    color: rgba(238, 124, 124, 0.918);
}

.user-order {
    border-top: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    padding-top: 7px;
    padding-bottom: 7px;
}

.user-order:last-child {
    border-bottom: 1px solid gainsboro;
}

.order-view {
    width: 90%;
}

.order-row {
    border: 1px solid gainsboro;
    padding: 10px;
}

.order-cel {
    padding: 10px;
    border-right: 1px solid gainsboro;
}

.pink-link {
    color: rgba(255, 0, 153, 0.71);
}

.pink-link:hover {
    color:#ff0099;
}

@media screen and (max-width: 780px) {

    .navbar-light .navbar-nav .nav-link {
        
        padding-left: 15px;
    }
    
    .footer {
        height: 240px;
    }

    .footer nav a {
        line-height: 35px;
    }
  }

  @media screen and (max-width: 480px) {
    .footer {
        height: 290px;
    }
  }